/******* Base maison
 ******************************************************************************/
#content0 {
    width: 822px;
    height: 768px;
    top: 0px;
    left: 95px;
    background: url("../images/housePage_house.png") no-repeat top center;
}

.img-scale {
    -webkit-transform-origin: 0% 0%;
    -webkit-transform: scale3d(0.72, 0.735, 1);
}

/******* Navigation cube
 ******************************************************************************/
#previousFace {
    width: 100px;
    height: 639px;
    left: 99px;
    top: 55px;
}

#nextFace {
    width: 100px;
    height: 639px;
    left: 825px;
    top: 55px;
}

/******* Icone tuto
 ******************************************************************************/
#content1 {
    width: 88px;
    height: 102px;
    background: url("../images/housePage_icone.png") no-repeat top center;
    left: 871px;
    top: 414px;
}

/******* Tirette solutions
 ******************************************************************************/
#content2 {
    width: 166px;
    height: 69px;
    background: url("../images/housePage_solutionsTab.png") no-repeat top center;
    left: 115px;
    top: 699px;    
}

#bt_zoom0 {
    width: 166px;
    height: 69px;
}

.score {
    font-family: 'conduit_itc_light';
    font-size: 35px;
    color: #4cb547;
    top: 6px;
    left: 53px;
}

.total {
    position: relative;
    font-family: 'conduit_itc_bold';
    font-size: 35px;
    color: #4cb547;
}

/******* Cube
 ******************************************************************************/
#cube {
    left:199px;
    top:143px;
    opacity: 0;
}

#cube .hidden {
    opacity: 0;
}

/******* Chambre
 ******************************************************************************/
#face0_bubble1 {
    left: 220px;
    top: 200px;
}

#face0_bubble2 {
    left: 40px;
    top: 320px;
}

#face0_bubble3 {
    left: 170px;
    top: 320px;
}

#face0_bubble4 {
    left: 330px;
    top: 280px;
}

#face1_bubble1 {
    left: 340px;
    top: 205px;
}

#face1_bubble2 {
    left: 20px;
    top: 285px;
}

#face1_bubble3 {
    left: 170px;
    top: 375px;
}

#face1_bubble4 {
    left: 285px;
    top: 310px;
}

#face2_bubble1 {
    left: 285px;
    top: 255px;
}

#face2_bubble2 {
    left: 30px;
    top: 340px;
}

#face2_bubble3 {
    left: -25px;
    top: 370px;
}

#face3_bubble1 {
    left: 30px;
    top: 20px;
}

#face3_bubble2 {
    left: 315px;
    top: 30px;
}

#face3_bubble3 {
    left: 320px;
    top: 185px;
}

#face3_bubble4 {
    left: -20px;
    top: 310px;
}

/******* Bullets
 ******************************************************************************/
#bullets {
    left: 457px;
    top: 732px;
}

.bullet {
    width: 21px;
    height: 21px;
    position: relative;
    float: left;
    background: url("../images/housePage_bullet.png") no-repeat top center;
    margin: 0px 5px 0px 5px;
}

.bulletcore {
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
    left: 3px;
    background: url("../images/housePage_bullet_on.png") no-repeat top center;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 200ms;
}

/******* Popups
 ******************************************************************************/
#popup-zoom0 .hidden {
    display: none;
}