/******* Titre de la séquence
 ******************************************************************************/
#title {
    font-family: 'conduit_itc_light';
    color: #e41b2a;
    font-size: 53px;
    font-weight: bold;
    text-align: center;
    top: 45px;
}

#title .bold {
    position: relative;
    font-family: 'conduit_itc_bold';
}


#content0{
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.985, 0.0075, 1.0);  /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.985, 0.0075, 1.075); 
}


#answer-bar{
	left:140px;
	top:295px;
	width:15px;
	height:13px;
}

#bar-container{
	left:200px;
	top:214px;
	height:294px;
	width:700px;
	overflow:hidden;	
}

.barre{
	-webkit-transform:translate3d(0, 250px, 0);	
}

#bar0{
	-webkit-transition-delay:0s;
}

#bar1{
	-webkit-transition-delay:0.15s;
}

#bar2{
	-webkit-transition-delay:0.30s;
}

#bar3{
	-webkit-transition-delay:0.45s;
}

.animated{
	-webkit-transform:translate3d(0, 294px, 0);	
}

.barre-sensitive{
	height:294px;
	width:100px;
}
