/******* Titre de la séquence
 ******************************************************************************/
#title {
    font-family: 'conduit_itc_light';
    color: #e41b2a;
    font-size: 53px;
    font-weight: bold;
    text-align: center;
    top: 45px;
}

#title .bold {
    position: relative;
    font-family: 'conduit_itc_bold';
}


#content0{
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.985, 0.0075, 1.0);  /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.985, 0.0075, 1.075); 
}

#progression{
	left:140px;
	top:362px;
	width:15px;
	height:13px;
	overflow:hidden;	
	-webkit-transition-duration:0;
}


#answer-bar{
	left:140px;
	top:362px;
	width:15px;
	height:13px;
}